@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
#sidenav{
    background-color:#334257;
   
}
.nav-pills .nav-link{
    border-radius:.25rem 0 0 .25rem;
}
.activo{
    background-color: #92A9BD;
}
.navigationLink{
     color: #548CA8;
}
.nav-link:focus{
    color:#548CA8;
}
.nav-link:hover{
    background-color: #acb5bd;
    transition: all .3s ease-in-out;

}
span{
    font-size: 1.5vw;
}
#NavItemInputText {
    background-color: transparent;
    border: none;
    border-radius: none;
    font-size: 25px;
}
#NavItemInputText:disabled{
    background-color: transparent;
}
span{
    font-size: 25px;
}


