<div class="container pt-5 pb-5" style="scroll: auto;" >
    <div class="row">
        <div class="col-12 text-center">
            <h1>¡Te doy la Bienvenida a CHAD!</h1>
        </div>
        <div class="col-12 text-center">
            <h2 class="subtitle">Administrador de Personajes</h2>
        </div>
    </div>
    <div class="row">
        <p>
            A veces nuestra cabeza puede ser una tormenta de ideas nuevas difícil de controlar; algunas otras, un desierte dónde lo 
            último que conseguimos encontrar, en lugar de ser agua, es una buena idea que nos sirva de punto de partida para el 
            desarrollo de los personajes en nuestras historias. Para estas situaciones es que se ha creado esta herramienta. 
        </p>
        <p>
            CHAD o Administrador de Pesonajes es una herramienta que permite almacenar ideas, características, propiedades, habilidades, 
            poderes, etc, de los personajes en tus historias. Con la posibilidad de agruparlo mediante secciones y de agrupar secciones, 
            para historias.  
        </p>
        <div class="col-12">
        <h2>
            A continuación se explican las funciones disponibles hasta el momento:
        </h2>           
        </div>
        <div class="col-12  m-0 pb-4 p-0">
                <span style="font-size: 35px;"><i class="bi bi-chevron-compact-left"></i></span>
        </div>
        <ul id="UlSecciones" class="co-12">
                    <li id="ListaSecciones">
                        
                        
                        <div class="row">
                    <div class="col-12">
                        <h3>
                        "Secciones": [
                        </h3>
                    </div>
                <ul>
                <div class="col-12">
                    <Li>
                        <p>
                        "Descripción": "Esta parte de la herramienta es útil cuando se necesitan relacionar personajes, los personajes pueden formar parte de 
                        más de una sección y ¡las secciones pueden ser relacionadas tambien!.",
                        </p>
                    </Li>
                    <li>
                        <h4>
                        "¿Cómo se crea una sección?":[
                        </h4>
                        <ul id="crearSeccion">
                            <li>"0":"Crear una sección es fácil e intituivo, lo interesante comienza al momento de relacionar a los personajes y secciones.",</li>
                            <li>"1":"1.Ubicar el botón "Nueva Sección" en la parte superior de la pantalla.",</li>
                            <li>"2": [
                            <ul>
                                <li>"0": "2.llenar los siguientes datos en el formulario:",</li>
                                <li>"Nombre": "Recuerda elegir un nombre fácil de recordar para poder ubicar tu sección fácilmente.",</li>
                                <li>"Descripcióm": "Para que la próxima vez que la revises, estés al tanto de la última situación en la que dejaste tu sección.",</li>
                                <li>"Relación: "Es importante que esoecifiques el tipo de relación por la que decides agrupar a las secciones o a los personajes en tu nueva sección.",</li>
                                <li>"Etiquetas": "Recuerda que las etiquetas son una buena opción para filtrar las ideas y encontrarlas fácilmente en un futuro [Por el momento no disponible :c]"</li>
                            </ul>
                            </li>
                            <li>
                                <span>],</span>
                            </li>
                                <li>"3". "Por último, da click en el botón 'Guardar' y ¡listo! tu sección deberá reflejarse en la pantalla al cerrrarse el formulario."</li>
                        </ul>
                    </li>
                        <li>
                            <h4>
                                ]
                            </h4>
                        </li>
                </div>
                </ul>
                    <li>
                        <div class="col-12">
                            <h3>
                                ]
                            </h3>
                        </div>
                    </li>
                    </div>


                    </li>
                    <li id="listaPersonas">

                        <div class="row">
                    <div class="col-12">
                        <h3>
                        "Personajes": [
                        </h3>
                    </div>
                <ul>
                <div class="col-12">
                    <Li>
                        <p>
                        "Descripción": "Esta parte de la herramienta es útil cuando se necesitan relacionar personajes, los personajes pueden formar parte de 
                        más de una sección y ¡las secciones pueden ser relacionadas tambien!.",
                        </p>
                    </Li>
                    <li>
                        <h4>
                        "¿Cómo se crea un personaje?":[
                        </h4>
                        <ul id="crearSeccion">
                            <li>"0":"Crear una sección es fácil e intituivo, lo interesante comienza al momento de relacionar a los personajes y secciones.",</li>
                            <li>"1":"1.Ubicar el botón "Nueva Sección" en la parte superior de la pantalla.",</li>
                            <li>"2": [
                            <ul>
                                <li>"0": "2.llenar los siguientes datos en el formulario:",</li>
                                <li>"Nombre": "Recuerda elegir un nombre fácil de recordar para poder ubicar tu sección fácilmente.",</li>
                                <li>"Descripcióm": "Para que la próxima vez que la revises, estés al tanto de la última situación en la que dejaste tu sección.",</li>
                                <li>"Relación: "Es importante que esoecifiques el tipo de relación por la que decides agrupar a las secciones o a los personajes en tu nueva sección.",</li>
                                <li>"Etiquetas": "Recuerda que las etiquetas son una buena opción para filtrar las ideas y encontrarlas fácilmente en un futuro [Por el momento no disponible :c]"</li>
                            </ul>
                            </li>
                            <li>
                                <span>],</span>
                            </li>
                                <li>"3". "Por último, da click en el botón 'Guardar' y ¡listo! tu sección deberá reflejarse en la pantalla al cerrrarse el formulario."</li>
                        </ul>
                    </li>
                        <li>
                            <h4>
                                ]
                            </h4>
                        </li>
                </div>
                </ul>
                    <li>
                        <div class="col-12">
                            <h3>
                                ]
                            </h3>
                        </div>
                    </li>
                    </div>

                    </li>
                    <li>

                        
                        <div class="row">
                    <div class="col-12">
                        <h3>
                        "Buscar": [
                        </h3>
                    </div>
                <ul>
                <div class="col-12">
                    <Li>
                        <p>
                        "Descripción": "Esta parte de la herramienta es útil cuando se necesitan relacionar personajes, los personajes pueden formar parte de 
                        más de una sección y ¡las secciones pueden ser relacionadas tambien!.",
                        </p>
                    </Li>
                    <li>
                        <h4>
                        "¿Cómo se busca?":[
                        </h4>
                        <ul id="crearSeccion">
                            <li>"0":"Crear una sección es fácil e intituivo, lo interesante comienza al momento de relacionar a los personajes y secciones.",</li>
                            <li>"1":"1.Ubicar el botón "Nueva Sección" en la parte superior de la pantalla.",</li>
                            <li>"2": [
                            <ul>
                                <li>"0": "2.llenar los siguientes datos en el formulario:",</li>
                                <li>"Nombre": "Recuerda elegir un nombre fácil de recordar para poder ubicar tu sección fácilmente.",</li>
                                <li>"Descripcióm": "Para que la próxima vez que la revises, estés al tanto de la última situación en la que dejaste tu sección.",</li>
                                <li>"Relación: "Es importante que esoecifiques el tipo de relación por la que decides agrupar a las secciones o a los personajes en tu nueva sección.",</li>
                                <li>"Etiquetas": "Recuerda que las etiquetas son una buena opción para filtrar las ideas y encontrarlas fácilmente en un futuro [Por el momento no disponible :c]"</li>
                            </ul>
                            </li>
                            <li>
                                <span>],</span>
                            </li>
                                <li>"3". "Por último, da click en el botón 'Guardar' y ¡listo! tu sección deberá reflejarse en la pantalla al cerrrarse el formulario."</li>
                        </ul>
                    </li>
                        <li>
                            <h4>
                                ]
                            </h4>
                        </li>
                </div>
                </ul>
                    <li>
                        <div class="col-12">
                            <h3>
                                ]
                            </h3>
                        </div>
                    </li>
                    </div>

                        
                    </li>
        </ul>
        <div class="col-12  m-0 p-0">
                <span style="font-size: 35px;"><i class="bi bi-chevron-compact-right"></i></span>
        </div>
    </div>
    

</div>