

<mat-sidenav-container class="" (backdropClick)="close()" style="min-height: 100vh; width: 100vw; overflow: hidden;">
  <mat-sidenav #sidenav mode="over" (keydown.escape)="close()"
   style="min-height: 100vh; width: 220px; border:none; overflow: hidden; ">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content  style="min-height: 100vh; width: 100vw; overflow: hidden; background-color: transparent;" (keydown.escape)="sidenav.toggle();">

    <div class="container-fluid p-0" style="height: 100%; background-color: transparent;">
      <div class="row m-0 p-0" style="max-width: 100vw; background-color: transparent; height: 100%;">
        <div class="col-1 sidebarMini m-0 p-0 " style="max-width:60px; height: 100vh; overflow: hidden;">
          <div class="" style=" height: 100vh; background-color: #334257;">
            <div class="header" style="height: 70px;"></div>
            <div class="container-fluid p-0 m-0">
              <hr style="user-select: auto; margin-bottom: 20px; size: 3px; border-radius: 5px;">
              <ul class="nav nav-pills flex-column mb-auto" style="user-select: auto;">
                <li class="nav-item container-fluid p-0 " style="user-select: auto;">
                  <a class="home nav-link row text-center activo m-0 pt-2 pb-2 p-0 w-100" aria-current="page" [routerLink]="['Home']" (click)="activo(1);">
                    <div class="col-12">
                      <i class="bi bi-house-fill navigationLink" style="font-size: 40px;"></i>
                    </div>
                  </a>
                </li>
                <li class="nav-item container-fluid p-0" style="user-select: auto;">
                  <a class="secciones nav-link row text-center m-0 pt-2 pb-2 p-0 w-100" aria-current="page" [routerLink]="['Sections']" (click)="activo(2);">
                    <div class="col-12">
                      <i class="bi bi-grid-1x2-fill col-xs-2 navigationLink" style="font-size: 40px;"></i>
                    </div>
                  </a>
                </li>
                <li class="nav-item container-fluid p-0" style="user-select: auto;">
                  <a class="personajes nav-link row text-center m-0 pt-2 pb-2 p-0 w-100" aria-current="page" [routerLink]="['Personajes']" (click)="activo(3);">
                    <div class="col-12">
                      <i class="bi bi-people-fill col-xs-3 navigationLink" style="font-size: 40px;"></i>
                    </div>
                  </a>
                </li>
                <li class="nav-item container-fluid p-0" style="user-select: auto;">
                  <a class="buscar nav-link row text-center m-0 pt-2 pb-2 p-0 w-100" aria-current="page" [routerLink]="['Buscar']" (click)="activo(4);">
                    <div class="col-12">
                      <i class="bi bi-search col-xs-3 navigationLink" style="font-size: 40px;"></i>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col m-0 p-0" style="height: 100%; ">
          <div class="container-fluid p-0 m-0" style="height: 100%; background-color: transparent;" >
            <div class="contenedor">
              <router-outlet></router-outlet>
            </div>
          </div>
          
        </div>
      </div>

    </div>


    
  </mat-sidenav-content>
</mat-sidenav-container>


     <div style="border:none;"><a type="button" (click)="sidenav.toggle(); hamburger_cross()"
    class="hamburger animated fadeInLeft is-closed closingAnimation" #btnHam data-toggle="offcanvas">
          <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				  <span class="hamb-bottom"></span>
    </a></div>
